// CSS common across all views

$footerHeight: 60px;


html {
  position: relative;
  min-height: 95%;
}

body {
  background: #F5F5F5;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: $footerHeight;
}

header {
  nav {
    background: #FFFFFF;

    img {
      height: 40px;
      padding: 5px;
    }

    .navbar-brand {
      padding: 10px;
    }
  }
}

main {
  margin-top: 85px;
}

footer {
  //background-color: #000000;
  bottom: 0;
  font-size: 12px;
  height: $footerHeight;
  left: 0;
  position: absolute;
  width: 100%;

  .col-md-12 {
    padding: 15px;
  }
}

